{% extends 'base.html' %}
{% load static %}


{% block 'page-icon' %}
    <i class="ik ik-edit bg-primary"></i>
{% endblock %}
{% block 'page' %}
    Cadastrar-se
{% endblock%}
{% block 'caminho_pagina' %}
    <li class="breadcrumb-item">
        <a href=".">Revendedor</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        Cadastro
    </li>
{% endblock%}
<!-- MAIN  -->
{% block 'main-content' %}
<div class="card">
    <div class="card-header"><h3>Basic form elements</h3></div>
    <div class="card-body">
        <form class="forms-sample">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="clie_cpf">CPF</label>
                        <input type="text" class="form-control" oninput="mascara(this)" id="clie_cpf" placeholder="111.111.111-11">
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="clie_numero">Número de telefone</label>
                    <input type="text" class="form-control" onkeypress="mask(this, mphone);" id="clie_cpf" placeholder="(11) 11111-1111">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="clie_data_nascimento">Data de nascimento</label>
                    <input class="form-control" type="date">
                </div>
                <div class="col-md-6" data-select2-id="11">
                    <label for="clie_pais">País</label>
                    <select class="form-control select2" data-select2-id="1" tabindex="-1" aria-hidden="true">
                        {% for pais in paises %}
                            <option value="{{pais.nome_pais}}" data-select2-id="pais.sigla">{{pais.nome_pais}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11">
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-light">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block 'scripts' %}
<script>
function mascara(i){
   var v = i.value;

   if(isNaN(v[v.length-1])){ // impede entrar outro caractere que não seja número
      i.value = v.substring(0, v.length-1);
      return;
   }

   i.setAttribute("maxlength", "14");
   if (v.length == 3 || v.length == 7) i.value += ".";
   if (v.length == 11) i.value += "-";

}
function mask(o, f) {
  setTimeout(function() {
    var v = mphone(o.value);
    if (v != o.value) {
      o.value = v;
    }
  }, 1);
}

function mphone(v) {
  var r = v.replace(/\D/g, "");
  r = r.replace(/^0/, "");
  if (r.length > 10) {
    r = r.replace(/^(\d\d)(\d{5})(\d{4}).*/, "($1) $2-$3");
  } else if (r.length > 5) {
    r = r.replace(/^(\d\d)(\d{4})(\d{0,4}).*/, "($1) $2-$3");
  } else if (r.length > 2) {
    r = r.replace(/^(\d\d)(\d{0,5})/, "($1) $2");
  } else {
    r = r.replace(/^(\d*)/, "($1");
  }
  return r;
}
</script>
<script src="{% static '/node_modules/datedropper/datedropper.min.js' %}"></script>
<script src="{% static '/node_modules/select2/dist/js/select2.min.js' %}"></script>
{% endblock %}