{% extends 'base.html' %}
{% load static %}

{% block 'title' %}
    Pagina Inicial
{% endblock %}

{% block 'style' %}
{% endblock %}

{% block 'page-icon' %}<i class="ik ik-home"></i>{% endblock %}
{% block 'page' %}Pagina Inicial{% endblock %}

{% block 'main-content' %}
        <div class="row list">
            <div class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4">
                <div class="card">
                    <div class="position-relative">
                        <img class="card-img-top" src="../img/portfolio-6.jpg" alt="Card image cap">
                        <span class="badge badge-pill badge-primary position-absolute badge-top-left">New</span>
                        <span class="badge badge-pill badge-secondary position-absolute badge-top-left-2">Trending</span>
                    </div>
                    <div class="card-body">
                        <p class="list-item-heading mb-4">Pellentesque ac enim sed purus auctor convallis ut in nibh.</p>
                        <footer>
                            <p class="text-muted text-small mb-0 font-weight-light">18.08.2018</p>
                        </footer>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4">
                <div class="card">
                    <div class="position-relative">
                        <img class="card-img-top" src="../img/portfolio-7.jpg" alt="Card image cap">
                        <span class="badge badge-pill badge-primary position-absolute badge-top-left">New</span>
                        <span class="badge badge-pill badge-secondary position-absolute badge-top-left-2">Trending</span>
                    </div>
                    <div class="card-body">
                        <p class="list-item-heading mb-4">Cras tincidunt dui ac nisi laoreet, quis ornare nisl consectetur.</p>
                        <footer>
                            <p class="text-muted text-small mb-0 font-weight-light">18.08.2018</p>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4">
                <div class="card">
                    <div class="position-relative">
                        <img class="card-img-top" src="../img/portfolio-8.jpg" alt="Card image cap">
                        <span class="badge badge-pill badge-primary position-absolute badge-top-left">New</span>
                        <span class="badge badge-pill badge-secondary position-absolute badge-top-left-2">Trending</span>
                    </div>
                    <div class="card-body">
                        <p class="list-item-heading mb-4">Nullam eleifend quam non odio eleifend, vitae rutrum velit porttitor.</p>
                        <footer>
                            <p class="text-muted text-small mb-0 font-weight-light">18.08.2018</p>
                        </footer>
                    </div>
                </div>
            </div>
            <a href="https://www.youtube.com/" class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4">
                <div class="card">
                    <div class="position-relative">
                        <img class="card-img-top" src="../img/portfolio-9.jpg" alt="Card image cap">
                        <span class="badge badge-pill badge-primary position-absolute badge-top-left">New</span>
                        <span class="badge badge-pill badge-secondary position-absolute badge-top-left-2">Trending</span>
                    </div>
                    <div class="card-body">
                        <p class="list-item-heading mb-4">Maecenas convallis metus sed mi elementum.</p>
                        <footer>
                            <p class="text-muted text-small mb-0 font-weight-light">18.08.2018</p>
                        </footer>
                    </div>
                </div>
            </a>
        </div>
{% endblock%}
{% block 'scripts' %}
{% endblock %}
